@charset "utf-8";
/* CSS Document */

*{margin: 0; padding: 0; text-align: center}

html, body{height: 100%;}

#wrapper{
	min-height: 100%;
	height: auto !important;
	height: 100%;
}

#hdr{height: 60px; background: aqua}

#ftr{height: 30px; background: aqua}


#nav{float: left;width: 100px; background: yellow}

#ads{float: right; width: 100px; backround: fuchsia}

#txt{margin: 0 100px; background: lime}
